APP_NAME=Aiform
APP_ENV=local
APP_DEBUG=true
APP_PORT=8080

DB_CONNECTION=pgsql
DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=aiform
DB_USERNAME=aiform
DB_PASSWORD=secret

FRONTEND_PORT=5173
VITE_API_BASE_URL=http://localhost:8080/api
