APP_NAME=Aiform
APP_ENV=local
APP_DEBUG=true
APP_KEY=base64:7l5n4g8IsJqpxKEV3p5l1XMGPG4CghzBRjXYj8qZQlk=

DB_CONNECTION=pgsql
DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=aiform
DB_USERNAME=aiform
DB_PASSWORD=secret

LOG_CHANNEL=single
LOG_LEVEL=debug
